#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding: 0em 2em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  margin-left: 10px;
}

#nav-bar .compose {
  float:right;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 20px 10px;
  background-color: #e8fdff;
  color: #00a087;

}

#nav-bar .compose:hover {
  background-color: white;
  color: black;
}